<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-11">
            <h2 class="texto">Experiencia Laboral</h2>
            <ul>
                <li>
                    <h3 class="texto">Sportfanatic</h3>
                     <p class="texto fs-4 fw-bold guion">-</p> <h4 class="texto">(Years)</h4>
                    <p class="texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo cum harum autem, ullam dolorum laudantium distinctio soluta veritatis recusandae similique natus odit exercitationem! Quibusdam, doloribus ea sequi error enim corporis!</p>
                </li>
                <li>
                    <h3 class="texto">Trabajo 2</h3>
                     <p class="texto fs-4 fw-bold guion">-</p> <h4 class="texto">(Years)</h4>
                    <p class="texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo cum harum autem, ullam dolorum laudantium distinctio soluta veritatis recusandae similique natus odit exercitationem! Quibusdam, doloribus ea sequi error enim corporis!</p>
                </li>
                <li>
                    <h3 class="texto">Trabajo 3s</h3>
                     <p class="texto fs-4 fw-bold guion">-</p> <h4 class="texto">(Years)</h4>
                    <p class="texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo cum harum autem, ullam dolorum laudantium distinctio soluta veritatis recusandae similique natus odit exercitationem! Quibusdam, doloribus ea sequi error enim corporis!</p>
                </li>
            </ul>
        </div>
        <div class="col-11">
            <h2 class="texto">Educacion</h2>
            <ul>
                <li>
                    <h3 class="texto">Universidad de Buenos Aires</h3>
                     <p class="texto fs-4 fw-bold guion">-</p> <h4 class="texto">(Years)</h4>
                    <p class="texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo cum harum autem, ullam dolorum laudantium distinctio soluta veritatis recusandae similique natus odit exercitationem! Quibusdam, doloribus ea sequi error enim corporis!</p>
                </li>
                <li>
                    <h3 class="texto">Argentina Programa</h3>
                     <p class="texto fs-4 fw-bold guion">-</p> <h4 class="texto">(Years)</h4>
                    <p class="texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo cum harum autem, ullam dolorum laudantium distinctio soluta veritatis recusandae similique natus odit exercitationem! Quibusdam, doloribus ea sequi error enim corporis!</p>
                </li>
                <li>
                    <h3 class="texto">FreeCodeCamp</h3>
                     <p class="texto fs-4 fw-bold guion">-</p> <h4 class="texto">(Years)</h4>
                    <p class="texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo cum harum autem, ullam dolorum laudantium distinctio soluta veritatis recusandae similique natus odit exercitationem! Quibusdam, doloribus ea sequi error enim corporis!</p>
                </li>
            </ul>
        </div>
    </div>
</div>