<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-11">
            <h1 class="texto">Experiencia Laboral</h1>
            <ul>
                <li>
                    <h2 class="texto">Trabajo 1</h2>
                     <p class="texto fs-4 fw-bold">-</p> <h3 class="texto">(Years)</h3>
                    <p class="texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo cum harum autem, ullam dolorum laudantium distinctio soluta veritatis recusandae similique natus odit exercitationem! Quibusdam, doloribus ea sequi error enim corporis!</p>
                </li>
            </ul>
        </div>
    </div>
</div>