<div class="container-fluid text-bg-dark">
    <div class="row">
        <div class="col-11">
            <h2>Experiencia Laboral</h2>
            <ul>
                <li>
                    <h3>Sportfanatic</h3>
                     <p class="fs-4 fw-bold guion">-</p> <h4>(Years)</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo cum harum autem, ullam dolorum laudantium distinctio soluta veritatis recusandae similique natus odit exercitationem! Quibusdam, doloribus ea sequi error enim corporis!</p>
                </li>
                <li>
                    <h3>Trabajo 2</h3>
                     <p class="fs-4 fw-bold guion">-</p> <h4>(Years)</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo cum harum autem, ullam dolorum laudantium distinctio soluta veritatis recusandae similique natus odit exercitationem! Quibusdam, doloribus ea sequi error enim corporis!</p>
                </li>
                <li>
                    <h3>Trabajo 3s</h3>
                     <p class="fs-4 fw-bold guion">-</p> <h4>(Years)</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo cum harum autem, ullam dolorum laudantium distinctio soluta veritatis recusandae similique natus odit exercitationem! Quibusdam, doloribus ea sequi error enim corporis!</p>
                </li>
            </ul>
        </div>
        <div class="col-11">
            <h2>Educacion</h2>
            <ul>
                <li>
                    <h3>Universidad de Buenos Aires</h3>
                     <p class="fs-4 fw-bold guion">-</p> <h4>(Years)</h4>
                    <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo cum harum autem, ullam dolorum laudantium distinctio soluta veritatis recusandae similique natus odit exercitationem! Quibusdam, doloribus ea sequi error enim corporis!</p>
                </li>
                <li>
                    <h3>Argentina Programa</h3>
                     <p class="fs-4 fw-bold guion">-</p> <h4>(Years)</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo cum harum autem, ullam dolorum laudantium distinctio soluta veritatis recusandae similique natus odit exercitationem! Quibusdam, doloribus ea sequi error enim corporis!</p>
                </li>
                <li>
                    <h3>FreeCodeCamp</h3>
                     <p class="fs-4 fw-bold guion">-</p> <h4>(Years)</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo cum harum autem, ullam dolorum laudantium distinctio soluta veritatis recusandae similique natus odit exercitationem! Quibusdam, doloribus ea sequi error enim corporis!</p>
                </li>
            </ul>
        </div>
    </div>
</div>