<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" style="text-align: center;">
            <img src="../../../assets/img/ProfilePic.png" alt="Profile" class="img-fluid rounded-circle" id="foto">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4 col-xl-3 text">
            <p class="text-center fs-2 fw-bold"style="color: #dcdcdc;">Ignacio Pizzichini</p>
            <p class="fs-4 text-center" style="color: #dcdcdc;">Full Stack Developer Junior</p>
        </div>
        <span class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-6 text" style="color: #dcdcdc;">
            <h1 class="text-center fs-2 fw-bold">Acerca De Mi</h1>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque a quas eum facilis necessitatibus labore quos. Accusantium, qui ratione! Corporis pariatur tempora consectetur odit eos maxime adipisci ipsum illum sit!</p>
        </span>
    </div>
</div>