<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-7 col-xxl-6 texto marg">
            <p class="fs-2 fw-bold texto"style="color: #dcdcdc;">Ignacio Pizzichini</p>
            <p class="fs-4 texto" style="color: #dcdcdc;">Full Stack Developer Junior</p>
        </div>
        <span class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-5 col-xxl-6" style="color: #dcdcdc;">
            <h1 class="fs-2 fw-bold texto text-center">Acerca De Mi</h1>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque a quas eum facilis necessitatibus labore quos. Accusantium, qui ratione! Corporis pariatur tempora consectetur odit eos maxime adipisci ipsum illum sit!</p>
        </span>
    </div>
</div>