<div class="container-fluid text-bg-dark">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-7 col-xxl-6 marg">
            <p class="fs-2 texto fw-bold">{{persona.nombre}} {{persona.apellido}}</p>
            <p class="fs-4 texto">Full Stack Developer Junior </p>
        </div>
        <span class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-5 col-xxl-6">
            <h1 class="fs-2 fw-bold text-center">Acerca De Mi</h1>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque a quas eum facilis necessitatibus labore quos. Accusantium, qui ratione! Corporis pariatur tempora consectetur odit eos maxime adipisci ipsum illum sit!</p>
        </span>
    </div>
</div>