<div class="container-fluid text-bg-dark">
    <div class="row">
        <div class="col-12">
            <h2>Hard y Soft Skills</h2>
        </div>
    </div>
    <div class="row margin">
        <div class="col-sm-6 col-md-4 circle">
            <circle-progress
            [percent]="97"
            [maxPercent]="100"
            [radius]="60"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#dcdcdc'"
            [innerStrokeColor]="'#dcdcdc'"
            [animation]="true"
            [animationDuration]="300"
            [responsive]="true"
            [showTitle]="false"
            [showSubtitle]="false"
            [showUnits]="false"
            [showImage]="true"
            [imageSrc]="'assets/img/css.png'"
            [imageHeight]="55"
            [imageWidth]="40"
            ></circle-progress>
        </div>
        <div class="col-sm-6 col-md-4 circle">
            <circle-progress
            [percent]="65"
            [maxPercent]="100"
            [radius]="60"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#dcdcdc'"
            [innerStrokeColor]="'#dcdcdc'"
            [animation]="true"
            [animationDuration]="300"
            [responsive]="true"
            [showTitle]="false"
            [showSubtitle]="false"
            [showUnits]="false"
            [showImage]="true"
            [imageSrc]="'assets/img/javascript.png'"
            [imageHeight]="50"
            [imageWidth]="50"
            ></circle-progress>
        </div>
        <div class="col-sm-6 col-md-4 circle">
            <circle-progress
                [percent]="50"
                [maxPercent]="100"
                [radius]="60"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#dcdcdc'"
                [innerStrokeColor]="'#dcdcdc'"
                [animation]="true"
                [animationDuration]="300"
                [responsive]="true"
                [showTitle]="false"
                [showSubtitle]="false"
                [showUnits]="false"
                [showImage]="true"
                [imageSrc]="'assets/img/ang.png'"
                [imageHeight]="50"
                [imageWidth]="50"
            ></circle-progress>
        </div>
    </div>

    <div class="row margin">
        <div class="col-sm-6 col-md-4 circle">
            <circle-progress
            [percent]="30"
            [maxPercent]="100"
            [radius]="60"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#dcdcdc'"
            [innerStrokeColor]="'#dcdcdc'"
            [animation]="true"
            [animationDuration]="300"
            [responsive]="true"
            [showTitle]="false"
            [showSubtitle]="false"
            [showUnits]="false"
            [showImage]="true"
            [imageSrc]="'assets/img/java.png'"
            [imageHeight]="55"
            [imageWidth]="40"
            ></circle-progress>
        </div>
        <div class="col-sm-6 col-md-4 circle">
            <circle-progress
            [percent]="50"
            [maxPercent]="100"
            [radius]="60"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#dcdcdc'"
            [innerStrokeColor]="'#dcdcdc'"
            [animation]="true"
            [animationDuration]="300"
            [responsive]="true"
            [showTitle]="false"
            [showSubtitle]="false"
            [showUnits]="false"
            [showImage]="true"
            [imageSrc]="'assets/img/mysql.png'"
            [imageHeight]="40"
            [imageWidth]="50"
            ></circle-progress>
        </div>
        <div class="col-sm-6 col-md-4 circle">
            <circle-progress
                [percent]="30"
                [maxPercent]="100"
                [radius]="60"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#dcdcdc'"
                [innerStrokeColor]="'#dcdcdc'"
                [animation]="true"
                [animationDuration]="300"
                [responsive]="true"
                [showTitle]="false"
                [showSubtitle]="false"
                [showUnits]="false"
                [showImage]="true"
                [imageSrc]="'assets/img/spring.png'"
                [imageHeight]="60"
                [imageWidth]="60"
            ></circle-progress>
        </div>
    </div>
</div>