<nav class="navbar navbar-expand-sm bg-dark container-fluid">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="/assets/img/APLogo.png" alt="Argentina Programa Logo" height="32" width="100"></a>
      <a class="nav-link active" style="color: #dcdcdc;font-size: 24px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" aria-current="page" href="#">#YoProgramo</a>
      <div class="container-fluid d-flex justify-content-end">
        <div class="icon" style="font-size: 2rem; color: #dcdcdc;">
          <a href="https://www.instagram.com/nach.js/" target=”_blank” style="color: #dcdcdc;"><i class="me-3 bi bi-instagram"></i></a>
          <a href="https://twitter.com/nachopizzi15" target=”_blank” style="color: #dcdcdc;"><i class="me-3 bi bi-twitter"></i></a>
          <a href="https://github.com/kenzi08" target=”_blank” style="color: #dcdcdc;"><i class="me-3 bi bi-github"></i></a>
          <a href="https://www.linkedin.com/in/ignacio-pizzichini-033b69254/" target=”_blank” style="color: #dcdcdc;"><i class="me-3 bi bi-linkedin"></i></a>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-success me-md-2" type="button">Login</button>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid bg-dark">
    <div class="row">
      <div class="col-12 position-relative">
        <img class="img-fluid rounded-3 mt-2 position-relative" src="../../../assets/img/Portada.png" alt="Portada" id="portada">
      </div>
      <div class="col-12 position-relative foto">
        <img src="../../../assets/img/ProfilePic.png" alt="Profile" class="img-fluid rounded-circle position-absolute d-flex justify-content-center" id="foto">
      </div>
    </div>
  </div>
    